<script>
	$(document).ready(function(){

		/* RECEIVE MESSAGE */
		App.chat.received = function(data)
		{
			$('<li>' + data['message'] + '</li>').appendTo($('ul'));
		}

		$("#send").click(function(){
			msg =  $("#msg").val()

			/* SEND MESSAGE */
			if(msg) {  // il messagio non può essere vuoto
				msg_tot ='<%= current_user.email %>' + ": " + msg
				App.chat.send_msg(msg_tot)
				msg = $("#msg").val(null)  // resetta il box del messagio
			}
		})
	})
</script>

<div class="comments-container">
	<div class="comment-main-level">
		<!-- Contenedor del Comentario -->
		<div class="comment-box">
			<div class="comment-head">
				<h1>Chatroom <a class="disable" style="color: #595959;">interact with other users</a></h1>
			</div>
			<div class = 'comment-content' id="chat">
				<ul>
					<!-- Message zone -->
				</ul>
			</div>
		</div>
	</div>

  <span id="chat"></span>
  <textarea id="msg" style="width:800px; height: 100px;"></textarea>
  <button id="send" type="button" class="btn btn-light" style="margin-bottom: 8.5%;">Send Message</button>
</div>
