<script>
	$(document).ready(function(){

		/* RECEIVE MESSAGE */
		App.chat.received = function(data)
		{
			$("#chat").append(data['message']+"<br>")
		}

		$("#send").click(function(){
			name = $("#name").val()  // "#name" da definire
			msg =  $("#msg").val()

			/* SEND MESSAGE */
			if(msg) {  // il messagio non può essere vuoto
				App.chat.send_msg(name+': '+msg)
				msg = $("#msg").val(null)  // resetta il box del messagio
			}
		})
	})
</script>

<div class="comments-container">
	<h1>Chatroom <a class="disable" style="color: #595959;">interact with other users</a></h1>

	<ul id="comments-list" class="comments-list">
		<li>
			<div class="comment-main-level">
				<!-- Avatar -->
				<div class="comment-avatar"><img src="" alt=""></div>
				<!-- Contenedor del Comentario -->
				<div class="comment-box">
					<div class="comment-head">
						<h6 class="comment-name"><a href="http://creaticode.com/blog">Agustin Ortiz</a></h6>
					</div>
					<div class="comment-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
					</div>
				</div>
			</div>
			<div class="comment-main-level">
				<!-- Avatar -->
				<div class="comment-avatar"><img src="" alt=""></div>
				<!-- Contenedor del Comentario -->
				<div class="comment-box">
					<div class="comment-head">
						<h6 class="comment-name"><a href="http://creaticode.com/blog">Lorena Rojero</a></h6>
					</div>
					<div class="comment-content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
					</div>
				</div>
			</div>
		</li>
	</ul>

  <span id="chat"></span>
  <hr>
  Message:
  </hr>
  <br>
  <textarea id="msg" style="width:770px; height: 100px;"></textarea>
  <button id="send" type="button" class="btn btn-light" style="margin-bottom: 8%;">Send Message</button>

</div>
