<script>
    Splitting();
</script>
<div class="alrazy-title" style="margin-bottom: 5%" data-splitting>Find your perfect concert</div>
<div class="row" style="margin-bottom: 5%">
  <div class="container" style="width: 32%;">
    <h3>Track your favorite artists</h3>
    <p>Tell us who you want to see live. Easily import your favorite artists from Spotify, Facebook, Twitter and more.</p>
  </div>
  <div class="container" style="width: 32%;">
    <h3>Discover concerts near you</h3>
    <p>See which of your favorite artists are playing nearby, and explore personalized concert recommendations.</p>
  </div>
  <div class="container" style="width: 32%;">
    <h3>Never miss another concert</h3>
    <p>Get instant concert alerts when your favorite artists announce shows in your area, with everything you need to buy tickets. Easy!</p>
  </div>
</div>
