<div class="container message" style="color: gray;">
  <h3>Top Artists</h3><h3><%= link_to "Ranking", artist_rank_path(artist_id: 0) %></h3>
  <p>the best artists of the moment</p>
  <br/>
</div>

<div class="list-group">
    <% @topArtists.each do |artist| %>
        <a class="list-group-item clearfix" style="border-style: none; margin-bottom: 2%; width: 50%; left: 25%; border-radius: 6px; background-color: rgba(255,255,255,0.65);" href= <%= artist_path(artist['name'])%>>
            <div>
                <strong style="color: black;"><%= artist['name'] %></strong>
                <br>
                <br>
                <% @sum = 0.0 %>
                <% @n = 0.0 %>
                <% @val = Valuation.all %>
                <% @val.each do |val| %>
                <% if(val.artist ==  artist['name']) %>
                <% @sum =@sum + val.value.to_f %>
                <% @n=@n+1 %>
                <% end %>
                <% end %>
                <% @sum = @sum/@n %>
                <% if @sum.to_s == 'NaN' %>
                No reviews.
                <%else%>
                <%= @sum %>
                <%end%>
                <span class="pull-right" style="margin-top: -3%;">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </span>
                <br/>
            </div>
        </a>
    <% end %>
</div>
