/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

// inizio CSS homepage
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

.alrazy-title {
   font-family: 'Open Sans', Helvetica, sans-serif;
   font-weight: 700;
   font-size: 6vw;
   font-size: calc( 104vw / var(--char-total) );
   position: relative;
   padding: 0.4em 0;
   overflow: hidden;
}
.alrazy-title:after {
   content: '';
   display: block;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   border-bottom: solid 0.2em;
   -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
           animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
   -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
}
@-webkit-keyframes underline {
   from {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
   }
}
@keyframes underline {
   from {
     -webkit-transform: scaleX(0);
             transform: scaleX(0);
   }
}
.alrazy-title .word {
   display: inline-block;
   -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
           animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
   -webkit-animation-fill-mode: both;
           animation-fill-mode: both;
   -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
           animation-delay: calc( .5s + (.1s * var(--word-index)) );
}
@-webkit-keyframes slide-up {
   from {
     -webkit-transform: translateY(125%);
             transform: translateY(125%);
   }
}
@keyframes slide-up {
   from {
     -webkit-transform: translateY(125%);
             transform: translateY(125%);
   }
}
.splitting-mark {
  color: #FFF !important;
}
// fine CSS homepage




// inizio CSS chat
ul {
	list-style-type: none;
}

.comments-container {
	margin: 60px auto 15px;
	width: 800px;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 20px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	border-radius: 6px 6px 0 0;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 200px;
	border-radius: 0 0 0 0;  //0 0 6px 6px
}
// fine CSS chat




// inizio CSS signin
a{
    text-decoration:none !important;
}

h1,h2,h3{
    font-family: 'Kaushan Script', cursive;
}
.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}
.tx-tfm{
    text-transform:uppercase;
}
.mybtn{
    border-radius:50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.google {
    color:#666;
    width:100%;
    height:40px;
    text-align:center;
    outline:none;
    border: 1px solid lightgrey;
}
form .error {
    color: #ff0000;
}
#second{display:none;}
// fine CSS signin




// inizio CSS tweets
/*
body {
    background-color: rgb(230, 236, 240) !important;
    overflow-y: scroll;
}
nav.navbar  {
    padding: 0 !important;
    //border-bottom: 1px solid rgb(101, 119, 134);
}
*/
nav.navbar > .container {
    max-width: 1000px !important;
    padding: 0px 10px !important;
}
ul.navbar-nav > li.nav-item > a.nav-link {
    width: 90px !important;
    height: 52.5px !important;
    line-height: 34.5px !important;
    text-align: center !important;
    border-bottom: 2px solid #fff;
    font-size: 15px !important;
}
ul.navbar-nav > li.active > a.nav-link {
    border-bottom-color: rgba(29,161,242,1.00);
}
ul.navbar-nav > li.nav-item > a.nav-link > svg {
    max-width: 100%;
    height: 1.640625rem;
    fill: rgb(101, 119, 134) !important;
}
ul.navbar-nav > li.active > a.nav-link > svg {
    max-width: 100%;
    height: 1.640625rem;
    fill: rgba(29,161,242,1.00) !important;
}
.search {
    background-color: rgba(101, 119, 134, 0.15) !important;
    font-family: Helvetica, sans-serif;
}
.search:focus {
    box-shadow: none !important;
}
// fine CSS tweets




// inizio CSS profile (show.html.erb)
.main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.main {
    background: #FFF;
    position: relative;
    z-index: 3;
}

.profile-page .profile {
    margin-left: 26.5%;
}

.profile-page .profile img {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
    -ms-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

.profile-page .description {
    margin: 1.071rem auto 0;
    max-width: 600px;
    color: #999;
    font-weight: 300;
}

.profile-page .profile .name{
    margin-top: -80px;
}
// fine CSS profile (show.html.erb)
