<footer class="navbar navbar-light bg-light">
  <form class="form-inline" style="padding-left: 45%;"">
      <a href="/about" role="button">
        About
      </a>
    <div style="padding-left: 10px;">
      <a href="/contact" role="button">
        Contact
      </a>
    </div>
  </form>
</footer>
