<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="margin-left: 2%;">
      <a class="nav navbar-brand" href="/about">About</a>
      <a class="nav navbar-brand" href="/contact">Contact</a>
    </div>
  </div>
</nav>
