<header class="navbar navbar-light bg-light">
  <div style="padding-left: 15%;">
    <a class="navbar-brand" href="/homepage">Songify</a>
  </div>
  <form class="form-inline">
      <a class="btn btn-outline-info" href="/concerts" role="button">
        Concerts
      </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-info" href="/artists" role="button">
      Artists
      </a>
    </div>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-info" href="/tweets" role="button">
      Tweets
      </a>
    </div>
    <div style="padding-left: 10px; padding-right: 300px">
      <a class="btn btn-outline-info" href="/signin" role="button">
      Signin
      </a>
    </div>
  </form>
</header>
